---
  import Layout from '../layouts/Layout.astro'
	const title = "about page"
	const msg =  "Astro Docs"
---

<Layout>
<h1>about page</h1>
</Layout>

<script>
document.querySelector("#container").textContent = "About page"
</script>