---
  import Layout from '../layouts/Layout.astro'
---

<Layout title="about page">
<h1 id="container">about page</h1>
</Layout>

<script>
document.querySelector("#container").textContent = "Hello about!"
</script>