---
  import Layout from '../layouts/Layout.astro'
---

<Layout title="index page">
	<h1 id="container"></h1>
</Layout>

<script>
document.querySelector("#container").textContent = "Hello index!"
</script>