---
import Layout from '../layouts/Layout.astro'
	const title = "about page"
	const msg =  "Astro Docs"
---


<Layout>
	<p>{ msg}</p>
	<h1 id="container"></h1>
</Layout>

<script>
document.querySelector("#container").textContent = "Hello world!"
</script>